<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>beloved-addshop</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" type="text/css" href="../css/addshop.css">
</head>
<body>
    <div class="parent clearfix">
        <div class="header">
            <div class="header-main w">
                <p class="left fl">
                    <a href="#">Hi，欢迎来到至爱空间！</a>
                    <a href="#">登录</a>
                    <span>|</span>
                    <a href="#">退出</a>
                </p>
                <p class="right fr">
                    <a href="#">我的订单</a>
                    <span>|</span>
                    <a href="#">会员俱乐部</a>
                    <span>|</span>
                    <a href="#">手机商城</a>
                    <span>|</span>
                    <a href="#">客户服务</a>
                    <span>|</span>
                    <a href="#">网站导航</a>
                </p>
            </div>
        </div>
        <!-- 第二部分 LOGO部分 -->
        <div class="logo w clearfix">
            <div class="beloved fl"><a href="#"><img src="../images/addshop/logo.png" alt=""></a>
            </div>
            <div class="box fr">
                <div class="search fl">
                    <a href="#">商品</a>
                    <input type="text" name="text" value="" id="">
                    <button><img src="../images/addshop/扩大镜.png" alt=""></button>
                    <span>英菲尼迪&nbsp;&nbsp;宝马&nbsp;&nbsp;雅诗兰黛</span>
                </div>
                <div class="owner fr">
                    <a href="#">我的商城</a>
                    <span>|</span>
                    <a href="#">购物车</a>
                    <div class="msg"><img src="../images/addshop/角标.png" alt=""></div>
                </div>
            </div>
        </div>

        <!-- 第三部分 导航栏 -->
        <div class="nav w">
            <ul>
                <li><a href="#" id="a1">商城首页</a></li>
                <li><a href="#">红酒</a></li>
                <li><a href="#">家电</a></li>
                <li><a href="#">数码</a></li>
                <li><a href="#">汽车</a></li>
                <li><a href="#">手机</a></li>
                <li><a href="#">电脑</a></li>
                <li><a href="#">美妆</a></li>
            </ul>
        </div>
        <!-- 第四部分 主体部分 -->
        <div class="message w clearfix">
            <div class="picture fl">
                <img src="../images/addshop/bear.png" alt="">
            </div>
            <div class="write fl">
                <h1>圣芝红酒原瓶进口红酒皇冠波尔多干红</h1>
                <ul class="auto">
                    <li>有<s>6</s>家微店供您选择</li>
                    <li>默认选择最便宜微店</li>
                    <li>默认选择现货微店</li>
                </ul>
                <div class="list">
                    <ul>
                        <li>
                            <h5><span>至爱空间超级微店</span><a href="">地图</a></h5>
                            <h6>290元&nbsp;&nbsp;免费送货上门</h6>
                        </li>
                        <li>
                            <h5><span>至爱空间超级微店</span><a href="">地图</a></h5>
                            <h6>290元&nbsp;&nbsp;买两瓶再优惠10元免邮费</h6>
                        </li>
                        <li>
                            <h5><span>至爱空间超级微店</span><a href="">地图</a></h5>
                            <h6>290元&nbsp;&nbsp;免费送货上门</h6>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h5><span>至爱空间超级微店</span><a href="">地图</a></h5>
                            <h6>290元&nbsp;&nbsp;免费送货上门</h6>
                        </li>
                        <li>
                            <h5><span>至爱空间超级微店</span><a href="">地图</a></h5>
                            <h6>290元&nbsp;&nbsp;买两瓶再优惠10元免邮费</h6>
                        </li>
                        <li>
                            <h5><span>至爱空间超级微店</span><a href="">地图</a></h5>
                            <h6>290元&nbsp;&nbsp;免费送货上门</h6>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h5><span>至爱空间超级微店</span><a href="">地图</a></h5>
                            <h6>290元&nbsp;&nbsp;免费送货上门</h6>
                        </li>
                        <li>
                            <h5><span>至爱空间超级微店</span><a href="">地图</a></h5>
                            <h6>290元&nbsp;&nbsp;买两瓶再优惠10元免邮费</h6>
                        </li>
                        <li>
                            <h5><span>至爱空间超级微店</span><a href="">地图</a></h5>
                            <h6>290元&nbsp;&nbsp;免费送货上门</h6>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="settlement fr">
                <h2><i>小计：</i><s>￥</s><em>290.0</em></h2>
                <h3>去购物车结算</h3>
                <h4><返回商品详情</h4>
            </div>
        </div>
        <!-- tag -->
        <div class="tag w">
            <h3 class="fl">其他类似产品推荐</h3>
            <h4 class="fr">换一批</h4>
        </div>
        <!-- 列表清单 -->
        <div class="menu w">
            <ul class="">
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg green">新品</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg green">新品</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg red">热卖</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg red">热卖</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg orange">打折</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
            </ul>
            <ul class="ul2">
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg green">新品</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg green">新品</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg red">热卖</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg red">热卖</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
                <li>
                    <div class="pic">
                        <img src="../images/addshop/酒1.png" alt="">
                        <div class="tsg orange">打折</div>
                        <div class="add">
                            <dl>
                                <dt class="fl">立即购买</dt>
                                <dd class="fr">加购物车</dd>
                            </dl>
                        </div>
                    </div>
                    <div class="btext">
                        <h1 class="clearfix"><span class="fl"><i>￥</i><em>290.0&nbsp;</em><del>原价780.0</del></span><s class="fr">5家微店有售</s></h1>
                        <h6>圣芝红酒原瓶进口红酒皇冠波尔多干红</h6>
                    </div>

                </li>
            </ul>
        </div>




        <!-- 第五部分 底部 -->
        <div class="footer">
            <div class="w">
                <div class="footer-top">
                    <img id="logo" src="../images/addshop/至爱空间.png" alt="">
                    <ul class="ulf">
                        <li id="li1">购物指南</li>
                        <li>免费注册</li>
                        <li>开通支付宝</li>
                        <li>支付宝支付</li>
                    </ul>
                    <ul>
                        <li id="li1">电器城保障</li>
                        <li>送货入户</li>
                        <li>顺丰包邮</li>
                        <li>无忧退换货</li>
                        <li>全国联保</li>
                        <li>货票通行</li>
                    </ul>
                    <ul>
                        <li id="li1">支付方式</li>
                        <li>支付宝快捷支付</li>
                        <li>支付宝余额付款</li>
                        <li>支付宝钱包付款</li>
                        <li>货到付款</li>
                        <li>新人支付</li>
                    </ul>
                    <ul>
                        <li id="li1">商家支付</li>
                        <li>入驻电器城</li>
                        <li>加入电器城服务保障</li>
                        <li>电器城瞄言喵语圈子</li>
                        <li>电器城商家管理规范</li>
                    </ul>
                    <ul class="ull">
                        <li id="li1">手机电器城</li>
                    </ul>
                    <img id="erweima" src="../images/addshop/二维码.png" alt="">
                </div>
                <p>Copyright&nbsp;@&nbsp;2008- 2012 Shengcankeji.&nbsp;All&nbsp;Rights Reserved.&nbsp;深圳市至爱酒业有限公司&nbsp;版权所有<br>地址:广东省深圳市南山区深南大道以北世纪假日广场3405,3406,3407,&nbsp;Tel:&nbsp;13958062335&nbsp;&nbsp;E-mail:61487206@qq.com
                </p>
            </div>
        </div>

    </div>
</body>
</html>