<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/shoplist.css">
</head>
<body>
    <div class="parent">
        <div class="header">
            <div class="header-main w">
                <p class="left fl">
                    <a href="#">Hi，欢迎来到至爱空间！</a>
                    <a href="#">登录</a>
                    <span>|</span>
                    <a href="#">退出</a>
                </p>
                <p class="right fr">
                    <a href="#">我的订单</a>
                    <span>|</span>
                    <a href="#">会员俱乐部</a>
                    <span>|</span>
                    <a href="#">手机商城</a>
                    <span>|</span>
                    <a href="#">客户服务</a>
                    <span>|</span>
                    <a href="#">网站导航</a>
                </p>
            </div>
        </div>
        <!-- logo -->
        <div class="logo w clearfix">
            <div class="beloved fl"><a href="#"><img src="../images/shoplist/logo.png" alt=""></a>
            </div>
            <div class="box fr">
                <div class="search fl">
                    <a href="#">商品</a>
                    <input type="text" name="text" value="" id="">
                    <button><img src="../images/shoplist/扩大镜.png" alt=""></button>
                </div>
                <div class="owner fr">
                    <a href="#">我的商城</a>
                    <span>|</span>
                    <a href="#">购物车</a>
                    <div class="message"><img src="../images/shoplist/2字标.png" alt=""></div>
                </div>
            </div>
        </div>
        <!-- nav -->
        <div class="nav w">
            <ul class="clearfix">
                <li><a href="#">商城首页</a></li>
                <li><a href="#">红&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;酒</a></li>
                <li><a href="#">家&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电</a></li>
                <li><a href="#">数&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码</a></li>
                <li><a href="#">汽&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;车</a></li>
                <li><a href="#">手&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;机</a></li>
                <li><a href="#">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;脑</a></li>
                <li><a href="#">美&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;妆</a></li>
            </ul>
        </div>
        <!-- nowposition -->
        <div class="nowposition w clearfix">
            <ul class="fl">
                <li><span>当前位置：</span></li>
                <li><span>红酒</span><i>〉</i></li>
                <li class="lafei"><span>品牌：拉菲<em>×</em></span><i>〉</i></li>
                <li class="input"><input type="text" name="text" value="" id=""><button><img src="../images/shoplist/扩大镜小.png" alt=""></button></li>
            </ul>
            <p class="fr">共<strong>589</strong>件相关商品</p>
        </div>
        <!-- menu -->
        <div class="menu w">
            <ol>
                <li>
                    <span>国&nbsp;&nbsp;&nbsp;家</span>
                    <a href="#">全部</a>
                    <a href="#">法国</a>
                    <a href="#">澳大利亚</a>
                    <a href="#">智利</a>
                    <a href="#">意大利</a>
                    <a href="#">德国</a>
                    <a href="#">南非</a>
                    <a href="#">美国</a>
                    <a href="#">西班牙</a>
                    <a href="#">阿根廷</a>
                    <a href="#">匈牙利</a>
                    <a href="#">奥地利</a>
                    <a href="#">加拿大</a>
                    <a href="#">葡萄牙</a>
                    <a href="#">新西兰</a>
                </li>
                <li>
                    <span>价&nbsp;&nbsp;&nbsp;格</span>
                    <a href="#">全部</a>
                    <a href="#">1-199</a>
                    <a href="#">200-299</a>
                    <a href="#">300-499</a>
                    <a href="#">500-799</a>
                    <a href="#">800-999</a>
                    <a href="#">1000-1999</a>
                    <a href="#">2000-20000</a>
                </li>
                <li>
                    <span>用&nbsp;&nbsp;&nbsp;途</span>
                    <a href="#">全部</a>
                    <a href="#">聚会宴请</a>
                    <a href="#">自饮品尝</a>
                    <a href="#">收藏投资</a>
                    <a href="#">商务往来</a>
                    <a href="#">礼品馈赠</a>
                    <a href="#">女士最爱</a>
                    <a href="#">入门之选</a>
                </li>
                <li>
                    <span>类&nbsp;&nbsp;&nbsp;型</span>
                    <a href="#">全部</a>
                    <a href="#">干白葡萄酒</a>
                    <a href="#">红葡萄酒</a>
                    <a href="#">起泡酒</a>
                    <a href="#">甜点酒</a>
                    <a href="#">加强型葡萄酒</a>
                </li>
                <li>
                    <span>品&nbsp;&nbsp;&nbsp;牌</span>
                    <a href="#">全部</a>
                    <a href="#">黄尾袋鼠</a>
                    <a href="#">奔富</a>
                    <a href="#">洛神</a>
                    <a href="#">拉菲</a>
                    <a href="#">红魔鬼</a>
                    <a href="#">彼得利蒙</a>
                    <a href="#">小企鹅</a>
                    <a href="#">卡尔通安德烈</a>
                    <a href="#">蒙特斯</a>
                    <a href="#">卢士涛</a>
                    <a href="#">杰斯卡</a>
                    <a href="#">埃德华兹</a>
                    <a href="#">凯隆世家</a>
                    <a href="#">亨利吉霍</a>
                    <a href="#" id="more">更多＞</a>
                </li>
            </ol>
        </div>
        <div class="morechoose w"><span>更多选项<i>◇</i></span>
        </div>
        <!-- allgoods -->
        <div class="allgoods w">
            <h1 class="fl">全部商品</h1>
            <h2 class="fr"><i>1/102</i><em>〈</em><span>下一页<s>〉</s></span></h2>
        </div>
        <!-- tags -->
        <div class="tags w">
            <a href="#" id="a1">默认</a>
            <a href="#" id="a2">最新</a>
            <a href="#" id="a3">销量</a>
            <a href="#" id="a4">价格</a>
        </div>
        <!-- picture -->
        <div class="picture w">
            <ul class="clearfix">
                <li class="li1">
                    <a href="#"><img src="../images/shoplist/图1.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
                <li class="li2">
                    <a href="#"><img src="../images/shoplist/图2.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                    <h4>
                        <a href="#">立即购买</a>
                        <a href="#">加购物车</a>
                    </h4>
                </li>
                <li class="li3">
                    <a href="#"><img src="../images/shoplist/图3.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong><del>原价780.0</del></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
                <li class="li4">
                    <a href="#"><img src="../images/shoplist/图4.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong><del id="free">特价5折</del></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
            </ul>

            <ul class="clearfix">
                <li class="li1">
                    <a href="#"><img src="../images/shoplist/图1.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
                <li class="li2">
                    <a href="#"><img src="../images/shoplist/图2.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                    <h4>
                        <a href="#">立即购买</a>
                        <a href="#">加购物车</a>
                    </h4>
                </li>
                <li class="li3">
                    <a href="#"><img src="../images/shoplist/图3.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong><del>原价780.0</del></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
                <li class="li4">
                    <a href="#"><img src="../images/shoplist/图4.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong><del id="free">特价5折</del></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
            </ul>

            <ul class="clearfix">
                <li class="li1">
                    <a href="#"><img src="../images/shoplist/图1.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
                <li class="li2">
                    <a href="#"><img src="../images/shoplist/图2.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                    <h4>
                        <a href="#">立即购买</a>
                        <a href="#">加购物车</a>
                    </h4>
                </li>
                <li class="li3">
                    <a href="#"><img src="../images/shoplist/图3.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong><del>原价780.0</del></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
                <li class="li4">
                    <a href="#"><img src="../images/shoplist/图4.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong><del id="free">特价5折</del></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
            </ul>

            <ul class="clearfix">
                <li class="li1">
                    <a href="#"><img src="../images/shoplist/图1.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
                <li class="li2">
                    <a href="#"><img src="../images/shoplist/图2.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                    <h4>
                        <a href="#">立即购买</a>
                        <a href="#">加购物车</a>
                    </h4>
                </li>
                <li class="li3">
                    <a href="#"><img src="../images/shoplist/图3.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong><del>原价780.0</del></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
                <li class="li4">
                    <a href="#"><img src="../images/shoplist/图4.png" alt=""></a>
                    <h1>新品</h1>
                    <div class="write">
                        <h2><s>￥</s><em>290.0</em><strong>有5家微店有售</strong><del id="free">特价5折</del></h2>
                        <h3>圣芝红酒原瓶进口红酒皇冠波尔多干红</h3>
                    </div>
                </li>
            </ul>
        </div>
        <!-- downstags -->
        <div class="downtags">往下拉不停的出现更多的产品</div>
        <div class="footerw">
            <div class="footer">
                <div class="footer-left fl">
                    <input type="text" name="text" value="">
                    <button></button>
                </div>
                <div class="footer-right fr">
                    <a href="#">购物车</a>
                    <span>|</span>
                    <a href="#"><i>合计</i><em>1860.0</em></a>
                    <div class="msg"><img src="../images/shoplist/2字标.png" alt="tupian">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>